/* reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

input, 
button{
    border: none;
    font: inherit;
}




/* keyframes  */


@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



/* base styles  */


html{
    --accent-color:#88a9f4;
    --accent-color-dark: rgb(106, 137, 237);
}

body{
    font-family: 'Poppins' ,sans-serif;
    color: #292c33;
    
}

.bg{
    position: absolute;
    z-index: -1;
}

/* header  */


.header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    animation: fade-in 0.4s 0.2s backwards;
}
.logo{
    color: white;
    font-size: 30px;
}

nav{

}

.links{
    display: flex;
    column-gap: 20px;
}



.link-item{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: all 0.2s;
}


.link-item:hover{
    opacity: 1;
}

.link--btn{
    display: block;
    color: white;
    border-bottom: 3px solid green;
    overflow: hidden;
   
    
}

.link--btn:hover{
    color: rgb(254, 254, 254);
}


.main{
    background-color: white;
    max-width: 1150px;
    height: 1000px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 35px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, .7);
    animation: fade-in 0.4s;
    overflow: hidden;
}


/* main section  */

.intro{
    width: 100%;
    height: 500px;
    display: flex;    

}

.search{

    background-color: #d2d9eb;
    flex: 1;
    /* height: 80%; */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.first-heading{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.1;
    max-width: 320px;
    overflow: hidden;
}

.emphasis{
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

.form{
    width: 380px;
    position: relative;
  
}

.input{
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    border-color: transparent;
}

/* .input:focus, .input:active{
    border-color: wheat;

} */

.input::placeholder{
    padding-left: 40px;
}

.input-icon{

    color: rgb(116, 114, 114);
    position: absolute;
    top: 15px;

}

.input-icon:nth-of-type(1){
    top: 22px;
    left: 10px;
}

.input-icon:nth-of-type(2){
    top: 92px;
    left: 10px;
}

.btn{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--accent-color);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--accent-color-dark);
}
.photos{
    flex: 1.5;
    display: flex;
    flex-direction: row;

   

    
    
    /* height: 300px;
    height: 450px; */

}

.photo-1{
    /* display: block; */
    width: 100%;

}

.photo-2{
    /* display: block; */
    width: 100%;
    
}

/* how it works section  */


.how{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 85px;
}

.second-heading{
    font-size: 30px;
    color: rgb(86, 87, 90);
    text-transform: capitalize;
    font-weight: 700;

}

.bar{
    width: 65px;
    height: 2px;
    background-color: rgb(105, 105, 172);
    margin-bottom: 10px;
}

.steps{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 60px;
    
}

.step{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;

}
 
.step-icon{
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: greenyellow;
    border-radius: 50px;
    line-height: 50px;
    text-align-last: center;

    
}

.third-heading{
    margin-bottom: 10px;
    font-weight: 500;
    
}


.step:nth-child(1) .step-icon{
    background-color: rgb(224, 219, 219);
    color: rgb(152, 90, 8);
}

.step:nth-child(2) .step-icon{
    background-color: rgb(216, 211, 247);
    color: rgb(96, 70, 241);
}

.step:nth-child(3) .step-icon{
    background-color: rgb(225, 246, 248);
    color:rgb(50, 232, 241) ;
}


.text{
    color: rgb(143, 142, 142);
}

.more{
    width: 100px;
    font-size: 18px;
    color: rgb(138, 181, 245);
    text-align: center;
    transition: all 0.4s;
}

.more:hover{
    color: rgb(72, 72, 246);
    /* transform: scale(1.1); */
    border-bottom: 2px solid green;
    
}

.more:hover .more-icon{
    transform: translateX(2px);
}
.more-icon{
    font-size: 14px;
    transition: all 0.4s;
    
}

/* footer  */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.copyright{

}

.legal-list{
    display: flex;
}

.legal-item{
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.legal-item:hover{
    border-bottom: 1px solid #2740fe;
}

.legal-link{
    font-size: 15px;
    text-transform: capitalize;
    color: #88a9f4;
    transition: all 0.4s;
}

.legal-link:hover{
    color: #2262f9;
    border-radius: 5px;
   
}

